{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<form id="index-form" method="POST" action="{{ url_for('auth.login') }}">
    <div class="form-group">
        <label for="secret">Secret Token</label>
        <input type="text" class="form-control" id="secret" value="{{ secret }}" readonly>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" onclick="copySecret()">Copy Secret</button>
    </div>
    <input type="hidden" name="index-url" value="{{ url_for('auth.login') }}">
    <button type="submit" class="btn btn-primary">go to login page</button>

</form>
    <script>
        function copySecret() {
        /* Get the text field */
        var copyText = document.getElementById("secret");
    
        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
    
        /* Copy the text inside the text field */
        document.execCommand("copy");
    
        alert("Successfully copied TOTP secret token!");
        }
    </script>
{% endblock %}