<div class="modal fade" id="deleteModal{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
        <!-- <button type="button" class="btn-close" onclick="closeModal()">Close modal</button> -->
      </div>
      <div class="modal-body">
          Are you sure you want to delete post {{ post.id }}?
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="closeModal({{ post.id }})">Close</button>
          <button type="button" class="btn btn-danger" onclick="deletePost({{ post.id }})">DELETE!</button>
      </div>
    </div>
  </div>
</div>
    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('main.user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }}
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
                {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
                <br>
                {% if current_user and post.author.id == current_user.id %}
                <button type="button" class="btn btn-danger" onclick="launchModal({{ post.id }})">
                    Delete post
                </button>
                {% endif %}
                <button type="button" class="btn btn-secondary">
                    Favourite Post
                </button>
            </td>
        </tr>
    </table>
    <script>
        function launchModal(id) {
            $(`#deleteModal${id}`).modal();
        }
        function closeModal(id) {
            $(`#deleteModal${id}`).modal('hide');
        }
        function deletePost(id) {
            console.log(`delete post ${id}`);

            fetch("/api/posts/{{ current_user.id }}", {
                method: "DELETE",
                body: JSON.stringify({id: id}),
                headers: {
                    "Authorization": "Bearer {{ current_user.get_token() }}",
                    "Content-Type": "application/json"
                }
            }).then(response => response.json())
                .then((data) => {
                    console.log(data);
                    window.location.reload()
                })
            closeModal(id);
        }
    </script>
